{% set section = "1.1" %}
{% set sectionTitle = "The characteristics of contemporary processors, input, output and storage devices" %}

{% import "imports/headers.html" as headers %}
{% import "imports/images.html" as images %}
{% import "imports/components.html" as components %}

{% extends 'layout.html' %}

{% macro register() %}
<div class="badge badge-success">Register</div>
{% endmacro %}

{% macro component() %}
<div class="badge badge-primary">Component</div>
{% endmacro %}

{% macro bus() %}
<div class="badge badge-warning">Bus</div>
{% endmacro %}

{% block body %}
{% include 'partials/contentsBegin.html' %}
<ul>
    <li>
        <a href="#structureandfunction"><code>1.1.1</code> Structure and function of the processor</a>
        <ul>
            <li><a href="#components">Parts of a processor</a>
                <ul>
                    <li><a href="#buses">A little bit about buses</a></li>
                </ul>
            </li>
            <li><a href="#fdecycle">The Fetch, Decode, Execute cycle</a></li>
            <li><a href="#perf">Performance of a CPU</a></li>
            <li><a href="#pipelining">Pipelining</a></li>
            <li><a href="#architectures">Processor architectures</a></li>
        </ul>
    </li>
</ul>
{% include 'partials/contentsEnd.html' %}

<br>

{{ headers.header("structureandfunction", "<code>1.1.1</code> Structure and function of the processor") }}

{{ headers.subheader("components", "Parts of a processor") }}

<ul>
    <li>
        <b>Arithmetic Logic Unit {{ component() }}</b>
        <p>The ALU does all the actual processing in the CPU. It performs arithmetical (addition and subtraction) and logical (OR, AND, NOT, etc.) operations on data. It also hold data to be worked on and data that has been worked on until there's a chance for said data to be used/moved.</p>
    </li>
    <li>
        <b>Control Unit {{ component() }}</b>
        <p>The CU orchestrates the operation of the CPU by managing how instructions are executed. It's the component in charge of fetching instructions and data from memory, decoding instructions (using the instruction decoder) and executing the instruction by sending signals to the relevant areas of the processor.</p>
    </li>
    <li>
        <b>Program Counter {{ register() }}</b>
        <p>The PC is used to keep track of the state of the currently executing program. It stores a memory address that is incremented by one each time one tick is completed.</p>
    </li>
    <li>
        <b>Accumulator {{ register() }}</b>
        <p>The Accumulator holds bits of data that are currently being worked on by the ALU, or a result of a calculation from the ALU.</p>
    </li>
    <li>
        <b>Memory Address Register and Current Instruction Register {{ register() }}</b>
        <p>The MAR holds the address of the next memory address to write to or read from. It works closely alongside the CIR, which holds the address of the currently executing instruction. This is required since some instructions can take multiple clock cycles and memory reads to fully execute.</p>
    </li>
    <li>
        <b>Status Register/Processor Status Register/Flag Register {{ register() }}</b>
        <p>The contains bits that are either set or unset based on an instruction, which determine the manner in which the processor operates. The FR also handles processor interrupts.<br>Each time the FDE cycle occurs, the contents of this register is checked.</p>
    </li>
    <li>
        <b>General purpose registers {{ register() }}</b>
        <p>A CPU also contains multuiple general purpose register that a program can use for any task.</p>
    </li>
    <li>
        <b>Memory Address Bus {{ bus() }}</b>
        <p>The MA bus is used to send memory addresses from the CPU to the main memory, as the memory address to either read to or write from. This bus is one-way - nothing is ever sent from the main memory to the CPU on this bus.</p>
        <p>The size of this bus determines the amount of addressable memory in a computer, that value being two times the word size of the MA bus.</p>
    </li>
    <li>
        <b>Memory Data Bus {{ bus() }}</b>
        <p>The MD bus is used to transfer data to and from the main memory from the CPU. Anything coming from the main memory comes through here and is deposited in the MDR. Anything going to the main memory is taken from the MDR and sent along this bus to the main memory. It is two-way.</p>
    </li>
    <li>
        <b>Contorl Bus {{ bus() }}</b>
        <p>The Control bus is used to control the functioning of the processor. It's used to send signals to different components of the CPU in order to invoke various actions, like to invoke a memory read or write or I/O operations. This is used by the CU.</p>
    </li>
</ul>

{{ headers.subsubheader("buses", "A little bit about buses") }}

<p>Buses are used by a processor to move signals around the CPU. Physically, buses are traces on the motherboard or inside the CPU, and typically there are multiple traces to carry multiple signals at once.</p>

<p>This is what the word size of a bus is referring to. The word size, measured in bits, is the amount of traces that comprise a bus. If you have a 32-bit bus, there will be 32 physical connections on the circuit board. The higher this value, this more data that can be transferred at once and the more efficient the bus is.</p>

{{ headers.subheader("fdecycle", "The Fetch, Decode, Execute cycle") }}

<p>The FDE cycle is a sequence of actions that a processor takes to fully execute an instruction, and is comprised of three main stages: <i>fetch</i>ing instructions, <i>decod</i>ing instructions and <i>execut</i>ing instructions.</p>

<p>An instruction is a combination of an opcode and an operand. The opcode is the actual instruction to execute, and the operand is the data to perform the instruction on.</p>

<ul>
    <li>
        <b>Fetch</b>
        <ul>
            <li>The contents of the PC are copied into the MAR</li>
            <li>A memory read occurs - this copies the contents of the memory address specified by the MAR into the MDR</li>
            <li>The PC is incremented by one</li>
            <li>The instruction word (opcode) is copied into the CIR from the MDR</li>
        </ul>
    </li>
    <li>
        <b>Decode</b>
        <ul>
            <li>The contents of the CIR are interpreted by the CU, which will then begin controlling various aspects of the processor in order to execute the instruction</li>
        </ul>
    </li>
    <li>
        <b>Execute</b>
        <ul>
            <li>The opcode of the instruction is decomposed into a simple operation, like adding or comparing two values or storing a value</li>
            <li>This action is then executed
                <ul>
                    <li>If this instruction invokes a memory write or read, a memory address specified in the operand is stored in the MDR and the memory read is commanded by the CU</li>
                </ul>
            </li>
            <li>Unless the instruction is <code>stop</code>, the cycle repeats from here.</li>
        </ul>
    </li>
</ul>

<p><mark>TODO: buses</mark></p>

{{ headers.subheader("perf", "Performance of a CPU") }}

<p>The overall performance of a CPU is determined by multiple factors.</p>

<ul>
    <li>
        <b>Clock speed</b>
        <p>The clock speed of a processor is how many times per second the FDE cycle can be completed. It's measured in hertz, and modern processors can be running at speeds in the {{ components.tooltip("gigahertz", "a billion hertz") }} range.</p>
    </li>
    <li>
        <b>Core count</b>
        <p>A CPU can have multiple cores, each one acting like a separate mini CPU. The presence of multiple cores allows for multiple instructions to be executed in parallel, hence affecting the performance of a CPU.</p>
    </li>
    <li>
        <b>Cache</b>
        <p>Processors frequently have to fetch instructions and data from the main memory. Compared to the speed of the processor, this is painfully slow, which causes a severe bottleneck. To migitage this, the procesor caches commonly used data and instructions in very high speed registers inside the processor, which reduces the time wasted spent waiting on memory reads.</p>
    </li>
</ul>

{{ headers.subheader("pipelining", "Pipelining") }}

<p>Pipelining is a method of processor optimisation that works by executing multiple instructions that are in multiple stages of the FDE cycle at the same time.</p>

<p>When an instruction is in the execution phase of the FDE cycle, other sections of the processor that would usually handle fetching and decoding instructions are sat idle, doing nothing, wasting time.</p>

<p>A production line type system is employed. While one instruction is in the execute phase, another instruction can be in the decode phase, and another instruction can be in the fetch phase. Each of these phases will be occuring simultanously. This improves the overall utilisation of the processor, as dead time is reduced.</p>

<p>Dead time in the processor is not entirely removed, since different phases may take different amounts of time, but it drastically improves the efficiency of the processor.</p>

<p>The key limitation of pipelining is that it can only be used with RISC CPUs (and not in the Von Neumann architecture). In a CISC CPU, an instruction might take more than one {{ components.tooltip("tick", "one clock cycle") }} to complete, meaning that after a single tick it cannot be guaranteed that every section of the processor will be ready to recieve something new to work on.</p>

<p>As a result, you will only see pipelining employed in small, embedded devices, like handheld or IoT devices.</p>

{{ headers.subheader("architectures", "Processor architectures") }}

<p>There are two main processor architectures - the Von Neumann architecture, and the Harvard architecture. The main difference between the two is that the Harvard architecture employs a separate memory bank for data and instructions.</p>

<table class="table">
    <tr>
        <th>Von Neumann</th>
        <th>Harvard</th>
    </tr>
    <tr>
        <td>Program data and instructions share a memory area</td>
        <td>Program data and instructions have separate memory areas</td>
    </tr>
    <tr>
        <td>Each instruction takes two clock cycles to execute (decode, execute)</td>
        <td>Each instruction takes a single clock cycle to execute (if pipelined)</td>
    </tr>
    <tr>
        <td>Pipelining cannot be implemented</td>
        <td>Pipelinig can be implemented</td>
    </tr>
    <tr>
        <td>Older and more robust (very widely used, battled tested)</td>
        <td>Newer and fancier</td>
    </tr>
</table>

<p>It's common for embedded systems to use the Harvard architecture, and for general purpose computers to use the Von Neumann architecture.</p>

{{ headers.header("typesofprocessor", "<code>1.1.2</code> Types of processor") }}

{{ headers.subheader("ciscrisc", "CISC and RISC processors") }}

<p>CISC and RISC refer to the instruction set that a processor uses. They stand for Complex Instruction Set Computers and Reduced Instruction Set Computers.</p>

<p>CISC CPUs are of the types made by Intel and AMD - they use less registers than their equivalent RISC CPU, but uses microprogramming on the chip itself to handle differing formats of instructions. Its aim is to facilitate the completion of a task in as few lines of assembly code as possible, by morphing a single instruction into a more complex task comprised of multiple, lower level instructions. One of these complex instructions takes more than a single clock cycle to execute.</p>

<p>The extra circuitry in a CISC processor requires more power, which creates more heat, which means that CISC processors are only used in applications where there is a capacity dealing with that heat (for example, in a laptop you have the space to integrate a proper cooling system, but you do not in a smartphone).</p>

<p>RISC CPUs are processors with a smaller set of instructions available for use - the focus here is not to reduce the amount of Assembly code required, but to increase the efficiency of the CPU by removing unnecessary complexities.</p>

<p>80% of the work in a CISC CPU is done by 20% of the available instructions. If you leave only the fundamental instructions, you can remove the requirement for extra circuitry on a chip, which also removes the requirement for more power and the generation of as much heat.</p>

<p>RISC processors are commonly used in phones and tablets, are cheaper than CISC processors, run at slower clock speeds (but take less time to do something - also it's not like a phone is doing anything especially heavy) and are more efficient for simple tasks than their CISC counterpart.</p>

{% endblock %}
