{% set section = "1.1" %}
{% set sectionTitle = "The characteristics of contemporary processors, input, output and storage devices" %}

{% import "imports/headers.html" as headers %}
{% import "imports/images.html" as images %}
{% import "imports/components.html" as components %}

{% extends 'layout.html' %}

{% block body %}
{% include 'partials/contentsBegin.html' %}
<i>TODO</i>
{% include 'partials/contentsEnd.html' %}

<br>

{{ headers.header("structureandfunction", "<code>1.1.1</code> Structure and function of the processor") }}

<p>Hello world</p>

{{ headers.subheader("components", "Parts of a processor") }}

<ul>
    <li>
        <b>The Arithmetic Logic Unit</b>
        <p>The ALU does all the actual processing in the CPU. It performs arithmetical (addition and subtraction) and logical (OR, AND, NOT, etc.) operations on data. It also hold data to be worked on and data that has been worked on until there's a chance for said data to be used/moved.</p>
    </li>
    <li>
        <b>The Control Unit</b>
        <p>The CU orchestrates the operation of the CPU by managing how instructions are executed. It's the component in charge of fetching instructions and data from memory, decoding instructions (using the instruction decoder) and executing the instruction by sending signals to the relevant areas of the processor.</p>
    </li>
</ul>


{% endblock %}
